<div class="container">
  <div class="row">
    <button (click)="switchToRecent()">Sort by most recent</button>
    <button (click)="switchToUpvote()">Sort by most upvoted</button>
  </div>
  <div *ngIf="memes">
    <div *ngFor="let meme of memes">
      <div class="card">
        <div class="card-top">
          <img src="{{meme.imageLink}}" alt="Image go bye bye">
        </div>
        <div class="card-body">
          <h5 class="card-title">By: {{meme.author}} on {{meme.created | date: 'MM/dd/yyyy, hh:mm:ss a'}}</h5>
          <span>
            <p class="card-text"><i class="fa fa-thumbs-up fa-2x" (click)="addToUpvotes(meme)"></i> {{meme.upvotes}}</p>
            <p class="card-text"><i class="fa fa-thumbs-down fa-2x" (click)="addToDownvotes(meme)"></i> {{meme.downvotes}}</p>
          </span>
          <br>
        </div>
      </div>
    </div>
  </div>
</div>

